{% extends 'main.html' %}
{% set title = Example %}

{% block scripts %}
{% include 'scripts/syntax.html' %}
{% include 'scripts/math.html' %}
{% endblock %}

{% block content %}

{% filter markdown %}

## Example project

This is an example project for testing purposes.

Here is some example code which should be syntax highlighted:

```c
int main(void) {
	int long_line = (255 >> (0x08 | 0x01)) & 0x00;
	return long_line;
}
```

Good to see that it works as intended.

Math equations can also be rendered nicely as you can see below:

$$
y = a_1 x + a_2 x^2 \\\
a_1, a_2 \in \mathbb{R}
$$

Here's some terminal output:

```sh
$ make upload
avr-gcc -mmcu=attiny85 main.c -Wall -Wextra -pedantic -o main.hex
avrdude -c arduino -p attiny85 -P /dev/ttyUSB0 -b 19200 -U flash:w:main.hex
```

Here's a beautiful table.

First 	| Second	| Third
--------|-----------|---------
a	 	| b 		| c
1		| 2 		| 4

{% endfilter %}

{% endblock %}
