{% extends "main.html" %}
{% set title = 'About' %}
{% block content %}

{% filter markdown %}

## Me

![Me](/static/face.jpg){: .right }

I'm a student at [Aalto University](https://aalto.fi), Finland. I'm currently working towards an MSc in Automation and Electrical Engineering. I hold an interest in programming and technology in its various forms.

You can find all sorts of programming stuff I've done on [my Github](https://github.com/RoopeSavolainen). I can also be found on [LinkedIn](https://www.linkedin.com/in/roopesavolainen/).

You can find my Curriculum Vitae [here](/static/cv.pdf).

## Site

This is my personal homepage. I (try to) keep [a blog](/blog), where I write about my programming projects, among other things.

The site is built using python and Flask. You can find [the source code on my Github](https://github.com/RoopeSavolainen/roope.io).

{% endfilter %}

{% endblock %}
