{%- macro navbar(navlinks) -%}
{%- for link in navlinks %}
- [{{ link.name }}]({{ url_for('page.render', page=link.target) }})
{%- endfor %}
{%- endmacro %}

<!doctype html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block scripts %} {% endblock %}
	</head>

	<body>
		<header>
			<nav>
				{% filter markdown %}
				{{ navbar(navlinks) }}
				{% endfilter %}
			</nav>
		</header>

		<hr>

		<main>
			{% block content %} {% endblock %}
		</main>
	</body>
</html>
