{%- macro navbar(navlinks) -%}
{%- for link in navlinks %}
- [{{ link.name }}]({{ url_for('page.render', page=link.target) }})
{%- endfor %}
{%- endmacro %}

{% macro noscript() %}
<noscript>
	<p class="note">
		You're apparently blocking javascipt. That's okay, the site should work fine without any JS, but the site uses <a href="https://highlightjs.org/">highlight.js</a> for code highlighting, so you'll be missing out on that.
	</p>
	<hr>
</noscript>
{% endmacro %}


<!doctype html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block scripts %} {% endblock %}
	</head>

	<body>
		<header>
			<nav>
				{% filter markdown %}
				{{ navbar(navlinks) }}
				{% endfilter %}
			</nav>
		</header>

		<hr>

		<main>
			{{ noscript() }}
			{% block content %} {% endblock %}
		</main>
	</body>
</html>
