body
{
	font-family: sans-serif;
	background-color: #ddd;
}

header, main
{
	margin: auto;
}

header
{
	width: 100%;
	text-align: center;
}

header h1
{
	font-weight: bold;
	font-size: 24;
	color: black;
}

header nav ul
{
	padding: 0;
}

header nav ul li
{
	list-style-type: none;
	display: inline;

	padding-left: 10px;
	padding-right: 10px;
	
}

header nav ul li a
{
	text-decoration: none;

	color: black;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

header nav ul li a:hover
{
	color: #666;
}

main
{
	width: 90%;
	max-width: 1280px;
}
