html
{
	background-color: #f8f1e7;
}

body
{
	background-color: #fdfaf7;

	width: 80%;
	max-width: 1280px;

	border-radius: 8px;

	margin: auto;
	margin-top: 36px;
	margin-bottom: 36px;

	padding: 36px;

	font-family: sans-serif;
	font-size: 16px;

	box-shadow: 0px 0px 48px 6px grey;
}

header, main
{
}

header
{
	text-align: center;
}

header nav ul
{
	padding: 0;
}

header nav ul li
{
	font-size: 1.5em;
	list-style-type: none;
	display: inline;

	padding-left: 10px;
	padding-right: 10px;
	
}

header nav ul li a
{
	text-decoration: none;

	color: black;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

header nav ul li a:hover
{
	color: #765423;
}

main
{
	padding-top: 12px;
}

main h2
{
	font-size: 1.25em;
}

main .note
{
	font-size: 0.8em;
	color: #666;
	margin: 0 0 12px 0;
	padding: 0px;
}

img
{
	padding: 12px;
	max-width: 80%;
}

img.right
{
	float: right;
}

table
{
	background-color: white;
	border: 1px solid lightgray;
}

table, td, th
{
	padding: 8px;
	border-collapse: collapse;
	border-right: 1px solid lightgray;
}

table thead tr
{
	background-color: #f8f1e7;
	border-bottom: 1px solid lightgray;
}

table tbody tr:nth-child(2n)
{
	background-color: #fdfaf7;
}

@media (max-width: 640px)
{
	body
	{
		padding: 5%;
	}
}
